<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://uwin.ulsan.ac.kr/Portal/COMM/WebService/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
                contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>